rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{uid} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
      match /children/{childId} {
        allow read, write: if request.auth != null && request.auth.uid == uid;
        match /progress/{progressId} {
          allow read, write: if request.auth != null && request.auth.uid == uid;
        }
        match /puzzleProgress/{puzzleId} {
          allow read, write: if request.auth != null && request.auth.uid == uid;
        }
      }
    }
  }
}
